/*pagination*/
.pagination-wrapper{
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}
.pagination-wrapper .right-s{
	margin-right: 10px;
}
.pagination-wrapper .right-l{
	margin-right: 20px;
}
.pagination-btn,
.pagination-skip{
	float: left;
	padding: 15px 25px;
	height: 50px;
}
.pagination-btn{
	background-color: #F7F7F7;
	color: #12738F;
	cursor: pointer;
}

.pang-more{
  float: left;
  padding: 15px 25px;
  height: 50px;
  background-color: #F7F7F7;
  color: #12738F;

}

.pagination-btn:hover,
.pagination-btn.active{
	background-color: #E0F3F6;
}
.pagination-btn.with-select{
	padding: 7px;
	margin-left:10px;
	cursor: inherit;
}
.pagination-btn select{
	border: 0;
	background-color: #FFF;
	height: 36px;
	width: 100px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.pagination-btn.with-select:before{
	/*content: '跳至';*/
	padding-left: 20px;
	padding-right: 20px;
}